.dark-mode {
  background-color: #000000;
  color: rgba(36, 176, 195, 100%);
}

.dark-mode {
  background-color: #13171F;
  color: #ffffff;
}

#home {
  background-color: #f0f0f0; /* Warna latar belakang bagian Beranda */
  color: #333; 
  padding: 1px;
}

.image1 {
    width: 370px;
    height: 415px;
    position: absolute;
    top: 186px;
    left: 975px;
}

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
  
  ul li {
    display: inline;
    margin-right: 20px; /* jarak antara setiap tautan */
}
  
  ul li a {
    text-decoration: none;
    color: #333; /* warna teks */
    font-size: 16px;
    font-weight: bold;
}
  
  /* Untuk mengatur posisi setiap tautan */
  ul li:nth-child(1) a {
    position: absolute;
    top: 38px;
    left: 913px;
}
  
  ul li:nth-child(2) a {
    position: absolute;
    top: 38px;
    left: 1098px;
}
  
  ul li:nth-child(3) a {
    position: absolute;
    top: 38px;
    left: 1246px;
}

.text-container {
    position: absolute;
    top: 238px;
    left: 23px;
    width: 728px;
    height: 192px;
}
  
.text-container p {
    font-size: 28px;
    line-height: 1.5;
}

