p{
    font-family: 'Times New Roman', Times, serif;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 30px;
}
l{
    color: blue;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
  
  ul li {
    display: inline;
    margin-right: 20px; /* jarak antara setiap tautan */
}
  
  ul li a {
    text-decoration: none;
    color: #333; /* warna teks */
    font-size: 16px;
    font-weight: bold;
}
  
  /* Untuk mengatur posisi setiap tautan */
  ul li:nth-child(1) a {
    position: absolute;
    top: 38px;
    left: 913px;
}
  
  ul li:nth-child(2) a {
    position: absolute;
    top: 38px;
    left: 1078px;
}
  
  ul li:nth-child(3) a {
    position: absolute;
    top: 38px;
    left: 1246px;
}